body{
    margin-top: 0;
    padding-top: 0;
    padding-left: 0;
     background: linear-gradient(45deg,#000000, #281c02 );
   

}
.welcome{
    background-image: url("image/background2.jpg");
    min-height: 700px;
    min-width: 700px;
    background-attachment: fixed;
   margin-left: -6px;
}
.head{
    overflow: hidden;
    background-color:#FAF8F0;
    background: linear-gradient(45deg,#000000, #281c02 );
    position: fixed;
    display: flex;
    top: 0;
    left:0;
    height: 30px;
    width: 100%;
    float: left;
    display: flex;
    color: #d4af37 ;
   justify-content: space-between;
    text-decoration: none;
    font-size: 17px;

    

}
.head:hover{
   color: #d4af37;
    background: linear-gradient(45deg,#000000, #281c02 );
}

.brand, .he{
margin-top: 0px;
}

.he{
    display: flex;
    margin-top: 3px;
    margin-right: 10px;


}
.firstInput{
    position: relative;
    color: #d4af37;
    height: 620px;
    background: linear-gradient(45deg,#000000, #281c02 );
    width: 300px;
    margin-top: -625px;
   margin-left: auto;
    opacity: 0.7;
    border-radius: 20px;
    border: #000000 ;
    text-align: center;
    overflow-y: hidden;
    
    
}
#timeicon{
    width: 30px;
    margin-top: 10px;
}
h2{
    color: #FBFDF8;
}
#homeicon{
    width: 30px;
    margin-top: 10px;
}
#scheduleicon{
    width: 30px;
    margin-top: 10px;
}
#headlink{
    color: #d4af37;
    text-decoration: none;
    margin-left:15px;
    
}
#headlink:hover{
    color: #FAF8F0;
    width: 65px;
    background-color: #d4af37;
    border-radius: 7px;
    height: 20px;
    text-align:center;
}
#time:hover{
    background-color: #d4af37;
    border-radius: 7px;
    font-size: 22px;
    color: #FAF8F0;
    
    
} 
#location{
    margin-top: 60px;
}
#location:hover{
    background-color: #d4af37;
    border-radius: 7px;
    font-size: 22px;
    color: #FAF8F0;
    
} 
#book{
    margin-top: 80px;
}
#book:hover{
    background-color: #d4af37;
    border-radius: 7px;
    font-size: 22px;
    color: #FAF8F0;
    
} 
#booklink{
    text-decoration: none;
    color: #FAF8F0;
}
#booklink:hover{
    color: #d4af37;
    width: 70px;
    background-color: #FAF8F0;
    border-radius: 7px;
}
.second{
    background: #FAF8F0;
    border-radius: 0 0 50% 50%/ 0 0 100% 100%;
    /* transform: scaleX(1.5); */
    margin-top: -794.6px;
    border: none;
    background: #d4af37;
    
    background-size: cover;
    height: 400px;
}
#rounds{
    display: flex;
    
    
    margin-top: 800px;
    justify-content: space-around;
  
   
    
}
.ball1{
    position: relative;
    color: #d4af37;
    height: 200px;
   
    width: 200px;
    margin-top: 100px;
    
    opacity: 0.8;
    border-radius: 150px;
    ;
    margin-top: 50px;
    
}

.ball2{
    position: relative;
    color: #d4af37;
    height: 200px;
    
    width: 200px;
    margin-top: 50px;
    /* margin-left: 60%; */
    opacity: 0.8;
    border-radius: 150px;
    
    /* margin-left: 20px;
    margin-right: 20px; */
}
.ball3{
    position: relative;
    color: #d4af37;
    height: 200px;
   
    width: 200px;
    margin-top: 50px;
    
    opacity: 0.7;
    border-radius: 150px;
    
}

.ball{
    height: 200px;
    border-radius: 150px;
    width: 200px;
}
.ball:hover{
    height: 250px;
    width: 250px;
}

#third{
    background:#FAF8F0;
    border: #d4af37 solid;
    height: 550px;
    border-radius:10%  ;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
    padding-top: 45px;
    opacity: 0.9;

}

.slideTexts{
   height: 500px;
   width: 550px;
   background-color: #d4af37;
   
   
   border: none;
   border-radius:10%  ;
   
}
.mySlides{
    height: 450px;
    margin-top: 25px;
    margin-left: 12px;
    border: none;
    border-radius: 7px;
    border: none;
    border-radius:10%  ;
}
.mySlides:hover{
    height:500px ;
    margin-top: 0;
    margin-left: 0;
}

.slideTexts2{
    height: 500px;
    width: 500px;
    background-color: #d4af37;
   
    
    border: none;
    border-radius:10%  ;
 }

 .mySlides1{
    height: 450px;
    margin-top: 25px;
    margin-left: 12px;
    border: none;
    border-radius: 7px;
    border: none;
    border-radius:10%  ;
}
.mySlides1:hover{
    height:500px ;
    margin-top: 0;
    margin-left: 0;
}

@media screen and (max-width:700px){
    .brand{
        margin-top: 5;
     height: 10px;
     
     
     
     
    }
    .he{
        margin-top: 7px;
       
       margin-right: 5px;
   
    font-size: 12px;
    }
   #headlink:hover{
    height: fit-content;
    width: fit-content;
    padding: 1px;
   }
   #headlink{
    margin-left:7px;
   }
    
    .firstInput{
     height: 590px;
     width: 185px;
       
    }
    #time, #book, #location{
    height:150px;
     
    }
    
    #time:hover, #book:hover, #location:hover{
    height:155px;
    font-size: 16px;
     
    }
    
    .welcome{
     min-height:700px;
     min-width: 40px;
     
     
    }
    
    .second{
     height: 200px;
     background-color:  #d4af37;
     margin-top: -765px;
     
    }
    .ball{
     width:85px;
     height: 85px;
     margin-top: -30px;
     
     margin-left: 20px;
    }
    .ball:hover{
     width: 90;
     height: 90;
    }
    
    .slideTexts{
       height: 180px;
       width: 180px;
       background-color: #d4af37;
      
      
       border: none;
       border-radius:10%  ;
       
    }
    .mySlides{
     height: 170px;
     margin-top: 5px;
     margin-left: 5px;
     border: none;
     border-radius: 7px;
     border: none;
     border-radius:10%  ;
    }
    .mySlides:hover{
     height:180px ;
    
    }
    
    .slideTexts2{
     height: 180px;
     width: 180px;
     background-color: #d4af37;
     
    
     border: none;
     border-radius:10%  ;
     }
     .mySlides1{
     height: 170px;
     margin-top: 5px;
     margin-left: 5px;
     border: none;
     border-radius: 7px;
     border: none;
     border-radius:10%  ;
    }
    .mySlides1:hover{
     height:180px ;
    
    }
    
    
    
    
    #third{
     background:#FAF8F0;
     border: #d4af37 solid;
     height: 230px;
     border-radius:10%  ;
     margin-top: 20px;
     display: flex;
     justify-content: space-around;

     padding-top: 45px;
     opacity: 0.9;
    
    }
    .brand{
    font-size: 17px;
}
    }