*{
    margin-top: 0;
    padding-top: 0;
}
body{
    background-image: url("image/vvback.jpg");
    background-size: cover;
}

.product-type{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#prod{
    margin-left: 10px;
    margin-right: 19px;
    margin-bottom: 60px;

}
#prod:hover{
 text-decoration: underline;
}
.bonnet-section{
    
    display: flex;
    
    
 overflow: scroll;
    margin-right: 10px;
    padding-left: 0px;
   
  
}
#bonnet{
    height: 210px;
    
    width: 190px;
    border-radius: 10px;
    border:#281c02 solid;
    margin-left: 20px;
    margin-right: 20px;
  
    
}
.bonnet-desc{
    margin-left: 50px;
}
#desc-name{
    font-size: 15px;
    width:130px;
   
    text-align: center;
}
#desc-price, #desc-price1, #desc-price2{
    font-size: 17px;
    border: #281c02 solid;
    width: 120px;
    text-align: center;
    margin-top: -10px ;
    border-radius: 10px;
    
}
.quantity{
    display: flex;
    
    margin-left: 65px;
    
    
}
#minus, #minus1, #minus2{
  
  height: 25px;
 padding-top: 0;
 
  font-size: 22px;
  font-weight: bolder;
  background-color: black;
  color: white;
  border-radius: 5px;
}
#plus, #plus1, #plus2{
  
  height: 25px;
 padding-top: 0;
 
  font-size: 22px;
  font-weight: bolder;
  background-color: black;
  color: white;
  border-radius: 5px;
  

}
#num, #num1, #num2{
  
  height: 30px;
  width: 40px;
  padding-right: 0px;
 margin-top: 0px;
 text-align: center;
  font-size: 22px;
  font-weight: bolder;
  border-radius: 5px;
 

}

#order-btn, #order-btn1, #order-btn2{
    width: 100px;
    height: 30px;
    color: white;
    background-color: black;
    font-size: larger;
    font-weight: 900;
    margin-left: 60px;
    margin-top: -10px;
    border-radius: 10px;
   
}









@media screen and (max-width:700px){
    .product-type{
        font-size: 9px;
        
    }

    #bonnet{
        height: 150px;
        width:130px ;
        border-radius: 10px;
        border:#281c02 solid;
        margin-left: 20px;
        margin-right: 20px;
      
        
    }
    .bonnet-desc{
        margin-left: 20px;
    }
    #desc-name{
        font-size: 15px;
        width:130px;
       
        text-align: center;
    }
    #desc-price, #desc-price1, #desc-price2{
        font-size: 17px;
        border: #281c02 solid;
        width: 120px;
        text-align: center;
        margin-top: -10px ;
        border-radius: 10px;
        
    }
    .quantity{
        display: flex;
        
        margin-left: 35px;
        
        
    }
    #minus, #minus1, #minus2{
      
      height: 25px;
     padding-top: 0;
     
      font-size: 22px;
      font-weight: bolder;
      background-color: black;
      color: white;
      border-radius: 5px;
    }
    #plus, #plus1, #plus2{
      
      height: 25px;
     padding-top: 0;
     
      font-size: 22px;
      font-weight: bolder;
      background-color: black;
      color: white;
      border-radius: 5px;
      
    
    }
    #num, #num1, #num2{
      
      height: 30px;
      width: 40px;
      padding-right: 0px;
     margin-top: 0px;
     text-align: center;
      font-size: 22px;
      font-weight: bolder;
      border-radius: 5px;
     
    
    }
    
    #order-btn, #order-btn1, #order-btn2{
        width: 100px;
        height: 30px;
        color: white;
        background-color: black;
        font-size: larger;
        font-weight: 900;
        margin-left: 30px;
        margin-top: -10px;
        border-radius: 10px;
       
    }
    
}